
:root{

    --calculator-color: #2E8463;
    --primary-color: #000000; 

}

body{
    background-color: var(--primary-color);
}


.calculator{
    width: 400px;
    background-color: var(--calculator-color);
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8 px;
    box-shadow: 0 20px 50px rgb(40, 113, 85, 0.4);
}

.display, .display input{
    width: 100%;
}

.display input{
    padding: 15px 10px;
    text-align: center;
    border: none;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 35px;
}
.display input::placeholder{
    color: #B9B6C8;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
}

.buttons input[type="button"]{
    font-size: 20px;
    padding: 17px;
    border: none;
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
}

input[type="button"]#equal{
    grid-row: span 2;
    background-color: #FA726B;
}

input[type="button"][value="0"]{
    grid-column: span 2;
}

input[type="color"]#input-color{
    : ;
}

img {
    width: 2em;
    height: 2em;
}

header{
    display: flex;
    flex-direction: row;
    align-items: right;
}
